<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDp9fnA6Krb0GKkVyvkTC3bh2eBB1FIF6c</string>
	<key>GCM_SENDER_ID</key>
	<string>892068822169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.userapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-flow-admin-j83b96</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flow-admin-j83b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892068822169:ios:f308f93b3821e9b66ccc08</string>
</dict>
</plist>